automium==0.2.6
automium-web==0.1.1
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.0
click==7.1.1
cssselect2==0.3.0
defusedxml==0.6.0
Django==2.2.21
django-weasyprint==0.5.5
Flask==1.1.2
gunicorn==20.0.4
html5lib==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.1
legacy==0.1.6
MarkupSafe==1.1.1
Pillow==7.1.1
psycopg2-binary==2.8.5
pycparser==2.20
pylibmc==1.6.1
PyPDF2==1.26.0
Pyphen==0.9.5
pytz==2019.3
reportlab==3.5.42
six==1.14.0
sqlparse==0.3.1
tinycss2==1.0.2
WeasyPrint==51
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.0.1
xhtml2pdf==0.2.4
django-heroku==0.3.1
